{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/C++.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Functions in C++</h1>
    <div class="images">
        <img src="../static/images/CPP/Functions/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Functions/slide39.png" width="600" height="500">
    </div>
{% endblock languages_content %}