{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/C++.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Variables and Operators in C++</h1>
    <div class="images">
        <img src="../static/images/CPP/Maps/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Maps/slide30.png" width="600" height="500">
    </div>
{% endblock languages_content %}