{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/C++.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Variables and Operators in C++</h1>
    <div class="images">
        <img src="../static/images/CPP/OFGraphics/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide39.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide40.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide41.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide42.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide43.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide44.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide45.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide46.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide47.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide48.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide49.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide50.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide51.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide52.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide53.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide54.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide55.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide56.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/OFGraphics/slide57.png" width="600" height="500">
    </div>
{% endblock languages_content %}