{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/C++.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Pointers and New in C++</h1>
    <div class="images">
        <img src="../static/images/CPP/Pointers/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide39.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide40.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide41.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide42.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide43.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide44.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide45.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide46.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide47.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Pointers/slide48.png" width="600" height="500"><br><br>
    </div>
{% endblock languages_content %}