{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/C++.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Structs and Classes in C++</h1>
    <div class="images">
        <img src="../static/images/CPP/StructsAndClasses/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide39.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide40.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide41.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide42.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide43.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide44.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide45.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide46.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide47.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide48.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide49.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide50.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide51.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide52.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/StructsAndClasses/slide53.png" width="600" height="500">
    </div>
{% endblock languages_content %}