{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/C++.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Variables and Operators in C++</h1>
    <div class="images">
        <img src="../static/images/CPP/Vectors/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/CPP/Vectors/slide37.png" width="600" height="500">
    </div>
{% endblock languages_content %}