<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding</title>
    <link href="../static/StyleAccounts.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <ul>
            <div class="table">
                <div class="row">
                    <div class="link1">
                        <li><a href="{{ url_for('create_account') }}">Create Account</a> </li>
                    </div>
                    <div class="link2">
                        <li><a href="{{ url_for('login_account') }}">Login</a> </li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>
</body>
</html>