<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding</title>
    {% block create_account_style %}{% endblock %}
    {% block login_account_style %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <div class="table">
                <div class="row">
                    <div class="link1">
                        <li><a href="{{ url_for('create_account') }}">Create Account</a> </li>
                    </div>
                    <div class="link2">
                        <li><a href="{{ url_for('login') }}">Login</a> </li>
                    </div>
                </div>
            </div>
        </ul>
    </nav>
    {% block create_account %}{% endblock %}
    {% block account_login %}{% endblock %}
</body>
</html>