{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/JavaScriptStyle.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center" >JavaScript</h1>
    <div class="images">
        <img src="../static/images/JS/HelloJS/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide39.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide40.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide41.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide42.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide43.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide44.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide45.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide46.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide47.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide48.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/HelloJS/slide49.png" width="600" height="500">
    </div>
{% endblock languages_content %}