{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/JavaScriptStyle.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center" >JavaScript</h1>
    <div class="images">
        <img src="../static/images/JS/JS2/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/JS/JS2/slide39.png" width="600" height="500">
    </div>
{% endblock languages_content %}