{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/JavaScriptStyle.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center" >JavaScript</h1>
        <div class="images">
            <img src="../static/images/JS/Events/slide1.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide2.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide3.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide4.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide5.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide6.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide7.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide8.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide9.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide10.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide11.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide12.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide13.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide14.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide15.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide16.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide17.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide18.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide19.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide20.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide21.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide22.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide23.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide24.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide25.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide26.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide27.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide28.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide29.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide30.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide31.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide32.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide33.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide34.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide35.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide36.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide37.png" width="600" height="500"><br><br>
            <img src="../static/images/JS/Events/slide38.png" width="600" height="500">
        </div>
{% endblock languages_content %}