{% extends "ParentTemplateHomePage.html" %}
{% block home_style %}
    <link href="../static/css/HomePageStyle.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block home_header %}
    <h1 align="center">My Posts</h1>
    <h1 align="center">{{ current_user.username }}</h1>
    {% if post_list %}
        <table class="posts_table">
            <tr>
                <th align="center">Date</th>
                <th align="center">Post</th>
                <th align="center">Delete Post</th>
            </tr>
            {% for post in post_list[::-1] %}
                    <tr>
                        <td align="center">{{ post.post_time.strftime('%b %d, %Y  %H:%M:%S') }}</td>
                        <td align="center">{{ post.post }}</td>
                         <td align="center"><a href="/delete/{{post.id}}">delete</a></td>
                    </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock home_header %}