{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/css_topics/DataStructuresStyle.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <div class="ds">
        <h1>Western Computer Science</h1>
        <h1>Data Structures in Java</h1>
        <h1> Arrays </h1>
        <p>-------------------------------------------------------------------------------------------</p>
        <h2> Declaring an Array </h2>
        <img src="static/Java Images/Data Structures/Array/Declaring an Array.png">
        <p>-------------------------------------------------------------------------------------------</p>
        <h2> Initializing an Array </h2>
        <img src="static/Java Images/Data Structures/Array/Initializing an Array.png">
        <p>-------------------------------------------------------------------------------------------</p>
        <h2> Insert </h2>
        <img src="static/Java Images/Data Structures/Array/Insert.png">
        <h3> output </h3>
        <img src="static/Java Images/Data Structures/Array/Insert_output.png">
        <p>-------------------------------------------------------------------------------------------</p>
        <h2> Populate and Print Array </h2>
        <img src="static/Java Images/Data Structures/Array/Populate and Print Array.png">
        <h3> output </h3>
        <img src="static/Java Images/Data Structures/Array/Populate and Print Array_output.png">
        <p>-------------------------------------------------------------------------------------------</p>
    </div>

{% endblock languages_content %}