{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/css_topics/DataStructuresStyle.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
<div class="ds">
    <h1>Western Computer Science</h1>
    <h1>Data Structures in Java</h1>
    <h1> ArrayLists </h1>
    <p>-------------------------------------------------------------------------------------------</p>
    <h2> Declaring and Initializing an ArrayList </h2>
    <img src="static/Java Images/Data Structures/ArrayList/D&I ArrayList.png">
    <p>-------------------------------------------------------------------------------------------</p>
    <h2> Append to ArrayList </h2>
    <img src="static/Java Images/Data Structures/ArrayList/Append to ArrayList.png">
    <h3> output </h3>
    <img src="static/Java Images/Data Structures/ArrayList/Append to ArrayList_output.png">
    <p>-------------------------------------------------------------------------------------------</p>
    <h2> Remove From ArrayList </h2>
    <img src="static/Java Images/Data Structures/ArrayList/Remove From ArrayList.png">
    <h3> output </h3>
    <img src="static/Java Images/Data Structures/ArrayList/Remove From ArrayList_output.png">
    <p>-------------------------------------------------------------------------------------------</p>
    <h2> Clear ArrayList </h2>
    <img src="static/Java Images/Data Structures/ArrayList/Clear ArrayList.png">
    <h3> output </h3>
    <img src="static/Java Images/Data Structures/ArrayList/Clear ArrayList_output.png">
    <p>-------------------------------------------------------------------------------------------</p>
</div>

{% endblock languages_content %}