{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/html_style.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Flask Routes</h1>
    <div class="images">
        <img src="../static/images/HTML/FlaskRoutes/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide39.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide40.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide41.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide42.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide43.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide44.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide45.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide46.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide47.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide48.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide49.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide50.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/FlaskRoutes/slide51.png" width="600" height="500">
    </div>
{% endblock languages_content %}