{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/html_style.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">HTML Forms</h1>
    <div class="images">
        <img src="../static/images/HTML/Forms/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide39.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide40.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide41.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide42.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide43.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide44.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide45.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Forms/slide46.png" width="600" height="500">
    </div>
{% endblock languages_content %}