{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/html_style.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Getting Started with HTML</h1>
    <div class="images">
        <img src="../static/images/HTML/GettingStarted/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide39.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide40.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide41.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide42.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/GettingStarted/slide43.png" width="600" height="500">
    </div>
{% endblock languages_content %}