{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/html_style.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Hosting and Images</h1>
    <div class="images">
        <img src="../static/images/HTML/Hosting/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Hosting/slide36.png" width="600" height="500">
    </div>
{% endblock languages_content %}