{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/html_style.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Layouts and Positioning</h1>
    <div class="images">
        <img src="../static/images/HTML/LayoutsAndPositioning/slide1.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide2.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide3.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide4.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide5.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide6.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide7.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide8.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide10.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide11.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide12.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide13.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide14.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide15.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide16.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide17.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide18.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide19.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide20.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide21.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide22.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide23.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide24.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide25.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide26.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide27.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide28.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide29.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide30.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide31.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide32.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide33.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide34.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide35.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide36.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide37.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide38.png" width="600" height="500"><br><br>
    <img src="../static/images/HTML/LayoutsAndPositioning/slide39.png" width="600" height="500">

    </div>
{% endblock languages_content %}