{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/html_style.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center">Tables and Nav Bars</h1>
    <div class="images">
        <img src="../static/images/HTML/Tables/slide1.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide2.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide3.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide4.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide5.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide6.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide7.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide8.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide9.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide10.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide11.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide12.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide13.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide14.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide15.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide16.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide17.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide18.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide19.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide20.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide21.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide22.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide23.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide24.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide25.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide26.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide27.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide28.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide29.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide30.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide31.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide32.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide33.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide34.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide35.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide36.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide37.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide38.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide39.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide40.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide41.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide42.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide43.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide44.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide45.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide46.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide47.png" width="600" height="500"><br><br>
        <img src="../static/images/HTML/Tables/slide48.png" width="600" height="500">
    </div>
{% endblock languages_content %}