{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/JavaStyle.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center" >Java</h1>
    <div align="center" id="hello_world_div">
        <h3>public class Main {</h3>
        <h3>    public static void main(String[] args) {</h3>
        <h3>        System.out.println("Hello World");</h3>
        <h3>}</h3>
        <h3>}</h3>
        <p>This is your basic hello world application in java</p>
    </div>
{% endblock languages_content %}