{% extends "ParentTemplateHomePage.html" %}
{% block languages_style %}
    <link href="../static/css/CssLanguages/JavaScriptStyle.css" rel="stylesheet" type="text/css">
{% endblock languages_style %}
{% block languages_content %}
    <h1 align="center" >JavaScript</h1>
    <div class="form_div">
        <form class="form" action="" method="post">
            <select class="js_dropdown" name="js_select">
                <option value="helloJS">Hello JavaScript</option>
                <option value="js2">JavaScript 2</option>
                <option value="domJS">DOM</option>
                <option value="eventsJS">Events</option>
            </select><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock languages_content %}